.first{
    width: 100%;
    margin-left: 30px;
}

.first__div{
    display: flex;
    align-items: center;
    
}

.first__wrapper{
    margin-left: auto;
}

.first__title{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.first__wrapper-text{
    color: #000;
    font-size: 18px;
    font-weight: 500;
   
}

